body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    gap: 1rem;
}

input, button {
    width: 50%;
    height: 2rem;
}